<div class="container">
    <div class="col-md-6 offset-md-3 text-center">
        <h2>TOM-CAR</h2>
        <p>
            Tomasz Dobrzycki
        </p>
        <p>
            Adres: Rubinowa 23,
            98-220 Korczew
        </p>
        <p>
            Telefon: 605 445 324
        </p>
    </div>
</div>