<div class="main-div col-sm-8 offset-sm-2 col-md-12 offset-md-0 col-xl-12 offset-xl-0">
    <header class="description">
        <p>
            Witamy na stronie firmy TOM-CAR.
            Przejdź do katalogu aby zapoznać się z najnowszymi produktami.
        </p>
    </header>
    <main class="my-5">
        <span class="newest-offers">
            <h3>Najnowsze oferty</h1>
        </span>
        <div class="row">
            <% @newest_products .each do |product| %>
                <%= render 'shared/product_card', product: product %>
            <% end %>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-0 col-xs-12 my-2">
                <div class="card mx-auto" style="width: 20rem;">
                    <img src="https://picsum.photos/id/1071/200/180" class="card-img-top img-fluid" alt="Picture">
                    <div class="card-body">
                        <h5 class="card-title">Felga BMW 20 cali</h5>
                        <p class="card-text">
                            Nowiuteńgie felgi, nieśmigane, używanie ich zapewnia poprawienie
                            osiągów auta o 30%.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Cena: 500 zł
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-0 col-xs-12 my-2">
                <div class="card mx-auto" style="width: 20rem;">
                    <img src="https://picsum.photos/id/1070/200/180" class="card-img-top img-fluid" alt="Picture">
                    <div class="card-body">
                        <h5 class="card-title">Opony 20 cali</h5>
                        <p class="card-text">
                            Opony całoroczne, bieżnik głębszy niż w nowych oponach.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Cena: 800 zł
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>