<div class="container">
    <div class="main-div col-sm-8 offset-sm-2 col-md-12 offset-md-0 col-xl-12 offset-xl-0">
        <header class="description">
            <p>
                Witamy na stronie firmy TOM-CAR.
                Przejdź do katalogu aby zapoznać się z najnowszymi produktami.
            </p>
        </header>
        <main class="my-5">
            <span class="newest-offers">
                <h3>Najnowsze oferty</h1>
            </span>
            <div class="row">
                <% @newest_products .each do |product| %>
                    <div class=" col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-12 col-xs-12 my-2 mx-auto">
                        <%= render 'shared/product_card' , product: product %>
                    </div>
                    <% end %>
            </div>
        </main>
    </div>
</div>