<div class="card mx-auto">
    <%= image_tag product.display_image if product.image.attached? %>
    <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">
            <%= product.short_description %>
        </p>
    </div>
    <div class="card-footer text-muted">
        Cena: <%= product.price %> zł
    </div>
</div>