<div class="container-xxl">
    <div class="row">
        <div class="col-xs-3 col-md-5 col-lg-4 col-xl-3">
            <%= render 'shared/side_menu' %>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8 col-xl-9">
            <%= image_tag 'catalog_white.jpg', class:"figure-img img-fluid rounded",
                                               id:"catalog-image" %>
        </div>
    </div>
</div>
