<div class="container-xxl">
    <div class="row">
        <div class="col-md-3">
            <%= render 'shared/side_menu' %>
        </div>
        <div class="col-sm-9 col-xl-5 offset-xl-0 offset-md-2 col-md-5 p-3 text-center d-flex align-content-center align-items-center">
            <h4 class="border border-2" id="catalog-info-header">Wybierz kategorię aby zobaczyć dostępne produkty</h3>
        </div>
        <div class="col-md-4 d-none d-xl-block d-xxl-block">
            <%= image_tag 'catalog_photo.jpeg', class:"figure-img img-fluid rounded" %>
        </div>
    </div>
</div>
