
body
{
    .container#main-container
    {
        padding-top: 140px !important;
    }
}

header
{
    nav
    {
        .navbar-brand
        {
            font-size: 30px;
            font-weight: bold;
        }
    }
}

.newest-offers
{
    h3
    {
        margin-bottom: 20px;
    }
}

#upper-nav
{
    background-color: $blue-900;
    padding: 0;
    line-height: 22px;
    color: white;
    .mail
    {
        font-size: medium;
    }
}

#main-nav
{
    margin-top: 35px;
    background-color: $blue-800;
}